<h1> Congratulations, you just signed up for a race! </h1>
<h3> Would you like to sign up for a training plan? Here are the available training plans for this race:</h3>


<ul>
<% @race.training_plans.each do |training_plan| %>
    <li><%= link_to training_plan.name, training_plan_path(training_plan) %></li>
    <% end %>
</ul>
